!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
All parameters and their usage in code must be globally changable, please take it to consideration
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

1. Please comment your code
2. Use english naming for all variables, classes, methods etc.
3. Stick to the naming convention in python
4. Clean code is the best :)
5. Test locally your changes
6. May the capybara be with you
